<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>View Report</title>
  <script>

  </script>
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

  <!-- Header -->
  <!-- <header id="header">
    <a class="logo" href="/">Home</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header> -->

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="ViewReport">Reports</a></li>
      <li><a href="comparison">Comparison</a></li>
      <li><a href="trends">Trends</a></li>
      <li><a href="ranking">Ranking</a></li>
      <li><a href="info">Database Information</a></li>
    </ul>
  </nav>
  {{{body}}}

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>
