<!DOCTYPE html>
<html>
  <head>
    <title>Crime in LA</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/style.css">
    <link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet">
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="info">Info</a>
          <a class="nav-item nav-link" href="comparison">Comparisons</a>
          <a class="nav-item nav-link" href="ranking">Mapping</a>
          <a class="nav-item nav-link" href="trends">Trends</a>
          <a class="nav-item nav-link" href="ViewReport">Reports</a>
        </div>
      </div>
    </nav>
    <section id="banner">
      <div class="inner">
        <h1>Crime in Los Angeles</h1>
      </div>
      <video autoplay loop muted playsinline src="images/nikhil.mp4"></video>
    </section>

    <!-- Highlights -->
          <div class = "container">
            <a href = "ViewReport"><div class = "box">
                <div class="icon"><i class = "fa fa-id-card" aria-hidden = "true"></i></div>
                <div class="content">
                    <h3>Reports</h3>
                    <p>
                        View number of crimes occuring between given time slots
                        for the day and between any two given dates.
                        <br />
                        The number of crimes are displayed according to different districts in LA.
                    </p>
                </div>
            </div></a>
            <a href="comparison"><div class = "box">
                    <div class="icon"><i class = "fa fa-balance-scale" aria-hidden = "true"></i></div>
                    <div class="content">
                        <h3>Comparisons</h3>
                        <p>
                                Compare how various factors like time, age or area affect crime statistics within a specified time frame and area for a across all years.<br />
                        </p>
                    </div>
                </div></a>
                <a href="trends"><div class = "box">
                        <div class="icon"><i class = "fa fa-line-chart" aria-hidden = "true"></i></div>
                        <div class="content">
                            <h3>Trends</h3>
                            <p>
                                A graphical representation of the average number of days taken by a particular age group to report a type of crime in an area<br />
                            </p>
                        </div>
                    </div></a>
                    <a href="ranking"><div class = "box">
                            <div class="icon"><i class = "fa fa-paper-plane-o" aria-hidden = "true"></i></div>
                            <div class="content">
                                <h3>Mapping</h3>
                                <p>
                                        A depiction of the type of crime occuring in a selected area with the help of Google Maps API<br />
                                </p>
                            </div>
                        </div></a>
                        <a href="info"><div class = "box">
                                <div class="icon"><i class = "fa fa-info-circle " aria-hidden = "true"></i></div>
                                <div class="content">
                                    <h3>Database and Facts</h3>
                                    <p>
                                            This page gives Information about the source of the data along
                                            with the count of records in various tables <br />
                
                                    </p>
                                </div>
                            </div></a>
        </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
